.container {
  position: relative;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

.inputWrapper:focus-within {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.searchIcon,
.closeIcon {
  height: 50%;
  width: auto;
}

.closeIcon {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  transform: rotate(90deg);
}

.input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: transparent;
}

/* Scrollbar Customization */
.resultsList {
  scrollbar-width: thin;
}

.resultsList::-webkit-scrollbar {
  width: 6px;
}

.resultsList::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

/* Animation for dropdown appearance */
@keyframes slideBounce {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.resultsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
}

.resultsList.visible {
  display: flex;
  animation: slideBounce 0.4s ease forwards;
  pointer-events: auto;
}

.resultItem {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.centerElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
